<ion-view title="Login" id="page8">
  <ion-content padding="true" class="has-header">
    <form id="login-form3" class="list">
      <ion-list id="login-list2">
        <label class="item item-input" id="login-input5">
          <span class="input-label">Email</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="login-input6">
          <span class="input-label">Password</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <a ui-sref="tabsController.survey()" id="login-button10" class="button button-dark button-block">Login</a>
    </form>
    <div style="margin-right:-20px;">
      <a ui-sref="tabsController.signup()" id="login-button5" style="left:-10px;font-weight:500;font-style:italic;font-size:18px;" class="button button-dark button-full button-clear create"> Create an account</a>
    </div>
  </ion-content>
</ion-view>