<ion-view title="Signup" id="page9">
  <ion-content padding="true" class="has-header">
    <form id="signup-form5" class="list">
      <div class="spacer" style="height: 200px;"></div>
      <ion-list id="signup-list3">
        <label class="item item-input name" id="signup-input7">
          <span class="input-label">Name</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input email" id="signup-input8">
          <span class="input-label">Email</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input pass" id="signup-input9">
          <span class="input-label">Password</span>
          <input type="text" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="height: 100px;"></div>
    </form>
    <div id="signup-container2" class="sign">
      <a ui-sref="tabsController.page7()" id="signup-button13" style="color:#F5E8DC;font-size:24px;" class="button button-dark button-block sign">Sign-up</a>
    </div>
  </ion-content>
</ion-view>