<ion-view hide-nav-bar="true" id="page1">
  <ion-tabs class="tabs-dark tabs-icon-left" id="tabsController-tabs1">
    <ion-tab title="login" icon="ion-log-in" href="#/page1/page1" id="tabsController-tab5">
      <ion-nav-view name="tab5"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Survey" icon="ion-ios-list-outline" href="#/page1/tab1/page3" id="tabsController-tab1">
      <ion-nav-view name="tab1"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Results" icon="ion-checkmark" href="#/page1/page4" id="tabsController-tab2">
      <ion-nav-view name="tab2"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>